.about {
  flex-direction: column;
  align-items: flex-end;

  .nwi-title {
    display: flex;
    gap: 2rem;

    a {
      height: fit-content;
      padding: 1.5rem;
      margin-top: 2rem;
      color: $orange;
      text-transform: uppercase;
      text-decoration: none;
      font: normal 1.5rem/1.75rem $monospace;
      background: url('/assets/images/nwi_circle.svg') center no-repeat;
      background-size: contain;
    }
  }

  &>div {
    width: 50%;

    ul {
      padding-left: 5vw;
    }

    &:first-child {
      align-self: center;
      margin-bottom: 3rem;
    }

    p,
    li {
      margin-top: 1rem;
    }
  }
}

@media only screen and (max-width: 900px) {
  .about {
    align-items: flex-start;

    .nwi-title {
      align-items: center;
      flex-direction: column;

      h2 {
        margin: 0;
      }

      >a {
        width: fit-content;
        margin: 0 0 3rem;
      }
    }

    &>div {
      width: 100%;
    }
  }
}