* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Supreme', sans-serif;
  background-color: #001E9B;
}

main {
  padding: 15vh 10vw;
  margin-bottom: -5vh;
  background: url("/assets/images/Background.png") center no-repeat;
  background-size: cover;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo h2 {
  color: #D0B4F6;
  font-size: 2rem;
  line-height: 2.25rem;
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
}

/* ------------ COUNTDOWN ------------*/
.countdown>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  padding: 10vh;
  margin: 10vh 0 30vh auto;
  background: url('/assets/images/countdown-img.svg') center no-repeat;
  background-size: contain;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #E4613C;
}

#timer {
  display: flex;
  gap: 2rem;
  font: normal 1.5rem/1.75rem 'Share Tech Mono', monospace;
}

#timer .element>span {
  display: block;
  text-align: center;
}

/* ------------ INFO ------------*/

.info {
    color: #D0B4F6;
    width: 50%;
    margin-left: auto;
    
}

.info h3 {
    font-size: 4.5rem;
    line-height: 5rem;
    text-decoration: underline;
    margin: 0 0 2rem;
}

.info p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 1rem 0 0;  
}
/* ------------ FOOTER ------------*/

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 15vh 0 7.5vh;
  color: #001E9B;
  background: url('/assets/images/Rectangle.svg') no-repeat;
  background-size: cover;
  background-position-x: left;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

footer > div {
  display: flex;
  justify-content: center;
}

footer .contacts>div, footer .nei>div {
  display: flex;
  flex-direction: column;
}

footer .social {
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

footer .social div {
  display: flex;
  gap: 0.5rem
}

footer .contacts span:first-child, footer .social span {
  font-weight: 700;
  text-transform: uppercase;
}

@media only screen and (max-width: 780px) {
  main {
    margin-bottom: 0;
    padding: 5vh;
  }

  .logo img {
    width: 100%;
  }
  /* ------------ COUNTDOWN ------------*/
  .countdown > div {
    width: initial;
    margin: 5vh 0 15vh;
    padding: 5vh 0;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  #timer {
    gap: 1rem;
  }

  #timer .element>span {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  /* ------------ INFO ------------*/
  .info {
    width: 100%;
  }

  .info h2 {
    margin: 0 0 1rem;
    font-size: 3rem;
    line-height: 4.5rem;
  }

  /* ------------ FOOTER ------------*/
  footer {
    grid: auto auto auto / 1fr;
    gap: 2rem;
  }

  footer>div {
    text-align: center;
  }

  footer .madeby>div {
    align-items: center;
  }
}

@media only screen and (max-width: 320px) {
  .countdown > div {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}